.padding
  &_bottom
    padding-bottom 30px
    &_half
      padding-bottom 15px
  &_top
    padding-top 30px
    &_half
      padding-top 15px
  &_vertical
    padding-top 30px
    padding-bottom 30px
    &_half
      padding-top 15px
      padding-bottom 15px
