.page
  margin 0
  padding 0
  height 100%
  font 16px/1.5 'Arial', sans-serif
  *
    box-sizing border-box
  :focus
    outline none
  ::-moz-focus-inner
    border none
  img
    max-width 100%
    vertical-align bottom
  textarea
    resize none
