.form
  &__group
    position relative
    display inline-flex
    vertical-align bottom
    height 2.15rem
    cursor pointer
    background #363636
    font-size 1rem
    &:before
      content ''
      position absolute
      top 1px
      right 1px
      bottom 1px
      left 1px
      background #fff
    &_block
      width 100%
    &_lg
      height 2.5rem
      font-size 1.25rem
  &__input
    position relative
    width 100%
    padding 0 10px
    box-shadow none
    outline none
    color #606060
    font-size inherit
    font-weight 400
    border none
    background none
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    cursor text
    transition .2s
    &::placeholder
      font-size 0.813rem
      font-weight 400
      opacity 1
      color #b9b9b9
  &__message
    margin-top -15px
    margin-bottom 15px
    font-size .95rem
    &_error
      color #ea4b35
