.padding
  &_bottom
    padding-bottom 30px
    &_half
      padding-bottom 15px
  &_top
    padding-top 30px
    &_half
      padding-top 15px
  &_vertical
    padding-top 30px
    padding-bottom 30px
    &_half
      padding-top 15px
      padding-bottom 15px

.margin
  &_bottom
    margin-bottom 30px
    &_half
      margin-bottom 15px
  &_top
    margin-top 30px
    &_half
      margin-top 15px
  &_vertical
    margin-top 30px
    margin-bottom 30px
    &_half
      margin-top 15px
      margin-bottom 15px
