doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='./css/style.css')
    script(defer src='./js/bundle.js')
    title Start site

  body.page
    include components/contact-form/contact-form
